[submodule "hello-openice"]
	path = hello-openice
	url = https://github.com/mdpnp/hello-openice.git
[submodule "openice"]
	path = openice
	url = https://github.com/mdpnp/mdpnp.git
        ignore = dirty