<html>
  <head>
    <script src="static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/css/doctorHUD.css">
  </head>

  <body>
    
    <form action="/create_account" method="post">
      <p ><span class="fa fa-user"></span><input type="text" name='username' id="inputUsername" class="form-control" placeholder="username" required autofocus></p>
      <p><span class="fa fa-lock"></span><input type="password" name='password' id="inputPassword" class="form-control" placeholder="password" required></p>
      
      <button type="submit">Create account</button>
    </form>
    
  </body>
</html>
