<!DOCTYPE html>
<html lang="en">
<head>
    <title>DoctorHUD</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="static/login.js"></script>
</head>
<body>

<div class="main">
    {% if error_message != "" %}
    <div class="alert alert-danger alert-dismissable" id="login-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error_message }}
    </div>
    {% endif %}
    <div class="container">
        <center>
            <div style="display: inline-block;">
                <div class="logo">DoctorHUD

                    <div class="clearfix"></div>
                </div>
                <div style="position:relative; width:0; height:0; float:right;">
                    <span style="text-align:left; line-height: 50px; position: absolute; top:-100px; right:-229px; width:150px">
                    <a class="btn btn-info" href="/create_account" style="color: white">Sign up</a>
                    <a class="btn btn-info" href="https://jlipworth.github.io/doctor-hud/help/html/mainoperation.html#" target="_blank">Help</a>
                    <a class="btn btn-info" href="https://jlipworth.github.io/doctor-hud/#">Connection Page</a>
                    </span>
                </div>
            </div>
            <div class="middle">
                <div id="login">
                    <div class = "row">
                        <div class="col-md-5">
                            <form action='/login' method='post' enctype='multipart/form-data'>
                                <fieldset class="clearfix">
                                    <p ><span class="fa fa-user"></span><input type="text" name='username' id="inputUsername" class="form-control" placeholder="username" required autofocus></p>
                                    <p><span class="fa fa-lock"></span><input type="password" name='password' id="inputPassword" class="form-control" placeholder="password" required></p>

                                    <div>
                                        <span style="float:right;  display: inline-block;"><button class = "btn btn-success" type="submit">Sign in</button></span>
                                    </div>
                                </fieldset>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <p style="margin-top: 50px; color: white; text-align: center; font-weight: bold; font-size: 22px"> OR </p>
                        </div>
                        <div class="col-md-5">
                            <form class = "loginToken" action='/login_token' method='post' enctype='multipart/form-data'>
                                <p>
                                    <span class="fa fa-ticket"></span>
                                    <input type="text" name="token" id="input_token" class="form-control" placeholder="token" required autofocus>
                                </p>
                                <button class="btn btn-success" style="float:right" type="submit">Sign in with token</button>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </center>
    </div>
</div>
</body>
</html>
