<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>

<div class="main">
    <div class="container">
        <center>
            <div class="middle">
                <div id="login">

                    <form action='' method='post' enctype='multipart/form-data'>
                        <fieldset class="clearfix">
                            <p ><span class="fa fa-user"></span><input type="text" name='username' id="inputUsername" class="form-control" placeholder="username" required autofocus></p>
                            <p><span class="fa fa-lock"></span><input type="password" name='password' id="inputPassword" class="form-control" placeholder="password" required></p>

                            <div>
                                <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Sign up</a></span>
                                <span style="width:50%; text-align:right;  display: inline-block;"><input type='submit' value='Sign in'/></span>
                            </div>

                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="logo">LOGO

                    <div class="clearfix"></div>
                </div>

            </div>
        </center>
    </div>
</div>
</body>
</html>
