.wideContainer {
    max-width: 1600px;
}

.left {
    float: left;
}

.sensorCard {
    margin-bottom: 10
}

.titleButton {
    margin-left: 5
}

.hiddenForm {
    display: none
}

.btn-default:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #868e96;
    border-color: #285e8e;
}

h1, h2, h3, h4, h5, h6, .newFont{
    font-family: 'Sumana', serif;
}

a.fake_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;

    border-radius: 20 !important;
    -webkit-border-radius: 20 !important;
    -moz-border-radius: 20 !important;
}
