.wideContainer {
    max-width: 1600px;
}

.left {
    float: left;
}

.sensorCard {
    margin-bottom: 10
}

.titleButton {
    margin-left: 5
}

.hiddenForm {
    display: none
}

.btn-default:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #868e96;
    border-color: #285e8e;
}